/* || GENERAL STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F7EB;
    color:#393E41;
    font-family: 'Libre Baskerville', serif;
}

h1 {
    font-family: 'League Spartan', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color:#393E41;
}

h2 {
    font-family: 'League Spartan', sans-serif;
    font-size: 2rem;
    color:#393E41;
    margin-bottom: .5rem;
}

h3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5rem;
    color:#393E41;
}

h4 {
    font-weight: normal;
}

h5 {
    font-weight: lighter;
    font-size: .8rem;
}

p {
    margin-bottom: 1rem;;
}

ul {
    margin-bottom: 2rem;
    list-style-type: none 
}

li {
    margin-bottom: 1rem;
    
}

a {
    text-decoration: none;
    color:#FF7F50;
    font-weight: bold;
}

hr {
    color: #3D405B;
    width: 100%;
    margin: .5rem 0 1.5rem 0;
 }
 
.keyword, .work-content h4 {
    color:#FF7F50;
}

.keyword {
    font-weight: bold;
}

/* || SITE-WIDE STYLES */

header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid transparent;
}

header a {
    background-color: #F6F7EB;
    color:#393E41;
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
    text-align: center;
}

header h2 {
    font-family: 'Libre Baskerville', serif;
    font-weight: lighter;
    font-size: 1rem;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav img {
    height: 2rem;
    width: 2rem;
}

nav li {
    color: #393E41;
    font-family: 'League Spartan', sans-serif;
    list-style-type: none;
    font-size: .75rem;
    text-align: center;
    border-bottom: 2px solid transparent;
}

nav a {
    color: #393E41;
}

nav li:hover, .active-nav {
    border-bottom: 2px solid #FF7F50;
    border-bottom-left-radius: 225px 15px;
    border-bottom-right-radius: 225px 15px;
}

main {
    font-family: 'Libre Baskerville', serif;
    background-color: 393E41;
    color: #393E41;
    min-height: 60vh;
    margin: 1rem;
    flex-wrap: wrap;
}

#socials img {
    height: 2rem;
    width: 2rem;
}

#socials a {
    color: #393E41;
}

#socials ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#socials li {
    color: #393E41;
    font-family: 'League Spartan', sans-serif;
    font-size: 0.75rem;
    list-style-type: none;
    text-align: center;
}

footer {
    background-color: #F6F7EB;
    font-size: .75rem;
    margin-bottom: 1rem;
    text-align: center;
 }

/* || HOME PAGE STYLES */

#home {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.home-section {
    width: 100%;
}

#map-section {
    text-align: center;
}

#map {
    height: auto;
    width: 100%;
    max-width: 400px;
    margin: 0  auto;
}


/* || BLOG PAGE STYLES */

#blog {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    padding: .5rem;
}

.blog-post {
    display: flex;
    flex-wrap: wrap;
}

.blog-image {
    height: auto;
    max-width: 100%;
    margin-bottom: 1rem;
}

 .blog-title {
    width: 100%;
    font-family: 'League Spartan', sans-serif;
    font-size: 3rem;
 }

 .blog-date {
    width: 100%;
    font-family: 'League Spartan', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
 }


/* || WORK PAGE STYLES */

#pdf-link {
    background: none;
    display: block;
    color:#F6F7EB;
    background-color: #FF7F50;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: .75rem;
    max-width: 491px;
    margin: 2rem auto 2rem auto;
}


/* || ABOUT PAGE STYLES */

#about {
    display: flex;
    flex-wrap: wrap;
}

#about > * {
    margin-bottom: 2.5rem;
}

/* || RESPONSIVE STYLES */

/* Mobile responsive style */
 @media only screen and (max-width: 491px) {
    #logo, #title {
        flex: 100%;
    } 
 }

 /* Tablet */
@media only screen and (min-width: 492px) and (max-width: 768px) {
    header > * {
        justify-items: center;
        flex: 1 1 auto;
    }
    
    #logo {
        flex: 0 0 100px; 
    }

    #title {
        flex: 1 1 auto;
        text-align: right;
        padding-right: 1rem;
    }

    #title h1 {
        margin-top: 1rem;
        font-size: 2.5rem;
    }

    #title h2 {
        font-size: 1.5rem;
    }
   
    nav img, #socials img {
        height: 3rem;
        width: 3rem;
    }

    nav li, #socials li {
        font-size: 1rem;
    }

    #socials ul {
        flex-direction: row;
        justify-content: space-evenly;
    }

     
    .home-section {
        flex: 50%;
        width: 50%;
    }
    
    #about > * {
        display: flex;
        margin-bottom: 3rem;
    }

    .about-title {
        flex: 1;
        text-align: center;
        padding-right: 1rem;
    }

    .about-content {
        flex: 2;
    }
         
    .blog-image {
        align-self: start;
        max-width: 40%;
        flex: 40%;
        padding: 1rem;
    } 

    .blog-content {
        flex: 60%;
    }

    #work {
        max-width: 491px;
        margin: 0 auto 0 auto;
    }
 }
 

 /* Desktop */
 @media only screen and (min-width: 769px) {
    #title {
        text-align: center;
        width: 100%;
    }
    
    #logo {
        display: none;
    }
   
    #title h1 {
        margin-top: 1rem;
        font-size: 4rem;
    }

    #title h2 {
        font-size: 2rem;
    }

    nav img, #socials img {
        height: 4rem;
        width: 4rem;
    }

    nav li, #socials li {
        font-size: 1.5rem;
    }

    nav ul {
        justify-content: space-around;
    }

    #socials ul {
        flex-direction: row;
        justify-content: space-around;
    }
        
    #home-wrapper {
        display: flex;
        flex-wrap: wrap;
        /* align-items: space-evenly; */
    }

    #home-wrapper > * {
        flex: 50%;
        padding: 1rem;
    }

    #notes {
        order: -1;
    }
    
    #map {
        height: auto;
        width: 100%;
        max-width: 600px;
        margin: 0  auto;
    }

    #about > * {
        flex: 1;
        margin: 1rem;
    }

    .about-title {
        text-align: center;
        display: inline-block;
        padding-bottom: 2rem;
    }
  
    #work {
        display: flex;
        flex-wrap: wrap;
        width: 100%
    }

    .work-title {
        width: 25%;
    }

    .work-content {
        width: 75%;
    }

    #pdf-link {
        max-width: 75%;
    }
 
    .blog-image {
        max-width: 100%;
    } 

    .blog-post {
        flex: 50%;
        width: 50%;
        padding: 2rem;  
    }

    #pdf-link {
        display: block;
        color:#F6F7EB;
        background-color: #FF7F50;
        font-family: 'League Spartan', sans-serif;
        font-weight: bold;
        text-align: center;
        padding: .75rem;
        max-width: 25%;
    }
}